html, body  {
    background-image: url("../img/background.png");
    background-color: rgb(105, 105, 105);
    background-attachment: fixed;
    min-height: 100%;
}
.body{
    margin-right: 5px;
    margin-left: 20px;
    margin-top: 70px;
    border: rgb(25, 60, 255) solid 1px;
}