.filter{
    position: fixed;
    width: 170px;
    margin: 10px;
    background: linear-gradient(90deg, rgb(31, 31, 32), rgb(77, 77, 77));
    opacity: 0.9;
    border-radius: 3px;
}
div.electronice{
    position: fixed;
    display: none;
    margin: -270px 0 0 170px;
    background: linear-gradient(90deg, rgb(94, 94, 94), rgb(134, 134, 134));
    width: 200px;
    box-shadow: 5px 5px 20px rgb(26, 26, 26);
    border-radius: 2px;
}
div.electrocasnice{
    position: fixed;
    display: none;
    margin: -240px 0 0 170px;
    background: linear-gradient(90deg, rgb(94, 94, 94), rgb(134, 134, 134));
    width: 200px;
    box-shadow: 3px 3px 4px rgb(26, 26, 26);
    border-radius: 2px;
}
div.pret{
    position: fixed;
    display: none;
    margin: -210px 0 0 170px;
    background: linear-gradient(90deg, rgb(94, 94, 94), rgb(134, 134, 134));
    width: 200px;
    box-shadow: 3px 3px 4px rgb(26, 26, 26);
    border-radius: 2px;
}
div.magazin{
    position: fixed;
    display: none;
    margin: -180px 0 0 170px;
    background: linear-gradient(90deg, rgb(94, 94, 94), rgb(134, 134, 134));
    width: 200px;
    box-shadow: 3px 3px 4px rgb(26, 26, 26);
    border-radius: 2px;
}


/* Filter title */
div.title{
    height: 50px;
    width: inherit;
    color: rgb(236, 236, 236);
}
p.title{
    margin-left: 12px;
    margin-top: 10px;
    font-size: 20px;
    cursor: default;
}

/* Filter item */
div.item{
    height: 22px;
    width: inherit;
    color: rgb(236, 236, 236);
    cursor: pointer;
}
div.item:hover{
    color:rgb(0, 173, 239);
}

p.item{
    margin-left: 12px;
    margin-top: 5px;
    font-size: 13px;
}

div.item:hover i.arrow{
    border-color: rgb(0, 173, 239);
}

/* Arrow from items*/
.arrow {
    float: right;
    border: solid rgb(236, 236, 236);
    border-width: 0 2px 2px 0;
    padding: 3px;
    margin-right: 15px;
    margin-top: 5px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*Separator*/
.separator{
    width: inherit;
    height: 3px;
    background: linear-gradient(180deg, rgb(23, 23, 24), rgb(161, 161, 161));
}
