.top{
    height: 70px;
}

.navbar {
    overflow: hidden;
    background-image: url("../img/background.png");
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:3px 3px 15px rgb(63, 63, 255);  
  }

  .navbar:hover{
    box-shadow:3px 5px 20px rgb(63, 63, 255);  
  }


form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left;
    width: 80%;
    background:azure;
}

form.example input[type=text]:hover {
    outline: none;
    background-color: rgb(246, 253, 253);
}

form.example input[type=text]:focus {
    outline: none;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #1d2430;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: none;
    cursor: pointer;
}

form.example{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 25px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

form.example button:hover {
    background: #141922;
}

form.example button:selection {
    background: #141922;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

