.search-header{
    width: 50%;
}

.top{
    height: 70px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(236, 19, 19);
    position: fixed;
    top: 0;
    width: 100%;
  }

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 3px solid grey;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left;
    width: 80%;
    background: #dde1f0;
}

form.example input[type=text]:focus {
    outline: none;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #1d2430;
    color: white;
    font-size: 17px;
    border: 3px solid grey;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: none;
    cursor: pointer;
}

form.example{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

form.example button:hover {
    background: #141922;
}

form.example button:selection {
    background: #141922;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

