.products{
    margin-left: 195px;
    margin-top: 15px;
    border: solid 1px orange;
    width: inherit - 200px;
    overflow: auto;
}

.product{
    height: 400px;
    background-color: whitesmoke;
    margin: 1px;
    width: 32.5%;
    float: left;
}
.product:hover{
    border-color: blue;
}
.fa-columns{
    border: azure solid 1px;
}
.row{
    border: azure solid 1px;
}