.products{
    margin-left: 195px;
    margin-top: 15px;
    border: solid 1px orange;
    width: inherit - 200px;
    overflow: auto;
}

.product{
    height: 300px;
    background-color: whitesmoke;
    border: black solid 1px;
    border-radius: 5px;
}
.product:hover{
    border-color: blue;
}
.fa-columns{
    border: azure solid 1px;
}
.row{
    border: azure solid 1px;
}